// -----------------------------------------------------------------------------
// This file contains all application-wide Sass supported media.
// -----------------------------------------------------------------------------
$computer-big: "(min-width : 1200px)";
$computer-small: "(min-width : 800px) and (max-width : 1200px)";
$computer: "(min-width : 800px)";
$handheld: "(max-width : 800px)";
$small-handheld: "(max-width : 500px)";