$primary-color: #0277bd !default;
$primary-dark-color: #004c8c !default;
$primary-light-color: #58a5f0 !default;

$secondary-color: #ffd180 !default;
$secondary-dark-color: #caa052 !default;
$secondary-light-color: #ffffb1 !default;

$text-color-primary: rgba(0, 0, 0, 0.87);
$text-color-secondary: #333;
$text-color-primary-light: rgba(255, 255, 255, 0.87);
$text-color-secondary-light: rgba(255, 255, 255, 0.54);
$text-color-disabled: rgba(200, 200, 200, 0.87);
$text-color-hint: rgba(100, 200, 100, 0.87);
$text-color-error: rgba(200, 100, 100, 0.87);

$white: #ffffff;
$light-grey: #dddddd;
$dark-grey: #666;
