@import "../../../theme/abstracts/media";
@import "../../../theme/abstracts/dimens";
@import "../../../theme/abstracts/palette";

.container {
  margin: 10px;
}

:global {
  .markdown-container {
    pre {
      font-size: $text-size-xl;
      font-style: italic;
      padding-left: 20px;
      color: $dark-grey;
    }
  }
}